.main {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    background-color: blueviolet;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #eee;
      }
    }
  }

  .content {
    padding: 1rem;
  }
}
